.bacground-image{

    background-color: aqua;

  }          
.signup-from{
    width: 200px;
    height: 333px;
    background-color:rgba(0, 0, 0, 0.373);
    margin: 30px auto;
    padding: 10px;
    border-radius: 50px 0px;
    box-shadow: 3px 2px 5px 0px rgb(0, 0, 0);
    border: solid 1px black;
    display: block;
}

.singup-btn{
    display: block;
    margin: 1px auto;
    width: 100px;
}