.signup-from{
    width: 200px;
    height: 300px;
    background-color:antiquewhite;
    margin: 30px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 2px 5px 0px  goldenrod;
    border: solid 1px black;
    display: block;
}

.singup-btn{
    display: block;
    margin: 1px auto;
    width: 100px;
}