.navbar{
    background-color:rgba(0, 0, 0, 0.349);
    padding: 20px;
    display: flex;
    justify-content: space-between;
   
 
}

.navbar-brand{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.navbar-link{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0px 20px;
    
}

.navbar-link:hover{
    background-color: black;
    padding: 5px 10px;
    color: white;
    border-radius: 15px;
}

.navbar-logout{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
}

.user-name{
    color: #fff;
}